{% extends "layout.njk" %}

{% set title = "Excluir" %}

{% block content %}
  <h1 class="mt-5 text-center">
    {{ title }}
  </h1>

  <div class="col-md-6 mx-auto mb-5">
    <form id="formDeleteBook" action="/books/{{ book.id }}/delete" method="post">
      <h2>Deseja realmente excluir o livro "{{ book.title }}"?</h2>
      <div class="mb-3">
        <button type="submit" class="btn btn-danger">Confirmar</button>
        <a href="/books" class="btn btn-secondary">Cancelar</a>
      </div>
    </form>
  </div>
{% endblock %}
